DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password

MAIL_HOST=mail.example.com
MAIL_PORT=587
MAIL_USERNAME=your_mail_user
MAIL_PASSWORD=your_mail_password
MAIL_FROM=noreply@example.com
MAIL_ENCRYPTION=tls

T_ADMINLOG=kt3_adminlog
T_TEILNEHMER=kt3_teilnehmer
T_TIPPRUNDE=kt3_tipprunde
T_SPIELPLAN=kt3_spielplan
T_TEAMS=kt3_teams
T_TIPPS=kt3_tipps
T_TR_TEILNEHMER=kt3_tr_teilnehmer
T_LIGAERGEBNIS=kt3_ligaergebnis
T_PRAEMIEN=kt3_praemien
T_REMIND=kt3_remind
