/**** Ajax-Load-Info ****************************************************************/

#loading {
	background-color: #003E79;
	background-image: -moz-radial-gradient(center, #006AC1 0%, #003E79 100%);
	background-image: -webkit-radial-gradient(center,  #006AC1 0%, #003E79 100%);
}

#loading h1 { color: #EEEEEE; }

/**** Navigation ****************************************************************/

nav ul li div.hdr {
	color: #EEEEEE;
	background-color: #006AC1;
	background-image: -webkit-linear-gradient(top, #006AC1, #003e79);
	background-image: -moz-linear-gradient(top, #006AC1, #003e79);
}

nav ul li ul li a,
nav ul li ul li a:visited{	color: #6C6F8F; }

nav ul li ul li a:hover 	
{
	color: #000000;
	background-color:#0196e3;
	background-image: -webkit-linear-gradient(top, #309AF1, #306eA9);
	background-image: -moz-linear-gradient(top, #309AF1, #306eA9);   
}

/**** Basis-Container ****************************************************************/

nav {
	color: #000000;
	background-color: #006AC1;
	background-image: -webkit-linear-gradient(top, #006AC1, #003e79);
	background-image: -moz-linear-gradient(top, #006AC1, #003e79);
}

/*nav#navmain,*/
#mainmenu {
	background-color: #F0F0F0;
	background-image: -webkit-linear-gradient(top, #F0F0F0, #B0B0B0);
	background-image: -moz-linear-gradient(top, #F0F0F0, #B0B0B0);
}

#pagetitle {
	color: #EEEEEE;
	background-color: #006AC1;
	background-image: -webkit-linear-gradient(top, #006AC1, #003e79);
	background-image: -moz-linear-gradient(top, #006AC1, #003e79);
}

div#username { color: #CCCCCC;}

.shadow{
	-moz-box-shadow: 1px 1px 1px #205080;
	-webkit-box-shadow: 1px 1px 1px #205080;
	box-shadow: 1px 1px 1px #205080;
}

/**** Trennlinien ****************************************************************/

.line{ background-color:#0196e3; border-bottom:1px solid #003e79; }

/**** Sections ****************************************************************/
section.page header h1 { color: #003e79; }

article{ background-color:#F0F0F0; }

/* Buttons */

.button {
	color: #FFFFFF;
	background-color: #104E89;
	background-image: -webkit-linear-gradient(center top , #828BA3, #4C5A7C 50%, #27375F 50%, #2E3D64);
	background-image: -moz-linear-gradient(center top , #828BA3, #4C5A7C 50%, #27375F 50%, #2E3D64);
}

.btnGrid {
	color: #FFFFFF;
	background-color: #104E89;
	background-image: -webkit-linear-gradient(center top , #828BA3, #4C5A7C 50%, #27375F 50%, #2E3D64);
	background-image: -moz-linear-gradient(center top , #828BA3, #4C5A7C 50%, #27375F 50%, #2E3D64);
}

.btnGrid:hover,
.button:hover 
{
	background-color: #171e30;
	background-image: -webkit-linear-gradient(top, #70747f, #424857 50%, #171e30 50%, #222839);
	background-image: -moz-linear-gradient(top, #70747f, #424857 50%, #171e30 50%, #222839);
}

.button[disabled], .button[disabled]:hover 
{
	color: #BBBBBB;
	border: 1px solid #444444;    
	background-color: #777777;
	background-image: -webkit-linear-gradient(top, #999999, #888888 50%, #777777 50%, #666666);
	background-image: -moz-linear-gradient(top, #999999, #888888 50%, #777777 50%, #666666);
}

/**** Tabellen ***********************************************************************/

.rounded { border: 1px solid #003E79; }

.rounded td, .rounded th { border-left: 1px solid #003E79; border-top: 1px solid #003E79; }

.rounded th, td.hdr  {
	background-color: #445274; 
	background-image: -moz-linear-gradient(center top , #79839C, #27375F);
	color: white;	
}

.kttable,
.kttable .rounded,
.kttable th { border: 0 none; } 

.kttable tbody tr:nth-child(odd) { background-color: rgba(240, 240, 240, 0.3); }
.kttable tbody tr:nth-child(even) { background-color: rgba(0, 62, 121, 0.3); }

.kttable tbody tr:nth-child(odd) td { color: rgba(0, 0, 0, 0.85);}
.kttable tbody tr:nth-child(even) td { color: rgba(0, 0, 0, 0.95);}
.kttable tbody tr td.hdr { color: white;} 

/*
	background-image: -moz-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
	background-image: -webkit-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
*/
/* Hervorhebung geänderter Zeilen */
.kttable tbody tr.changed:nth-child(odd) { background-color: rgba(255, 0, 0, 0.2); }
.kttable tbody tr.changed:nth-child(even) { background-color: rgba(255, 0, 0, 0.4); }

/**** Formulare **********************************************************************/

input.highlight, select.highlight, textarea.highlight {
	background-color: #FFFF00;
}

input.gradient.highlight, select.gradient.highlight, textarea.gradient.highlight {
	background-color: #FFFF00;
	background-image: -moz-linear-gradient(center bottom, #E0E000 0%, #D7D700 54%, #ADAD00 100%);
	background-image: -webkit-linear-gradient(left bottom,left top, #E0E000 0%, #D7D700 54%, #ADAD00 100%);
}

/**** Login ****************************************************************/

#login
{
	color: #FFFFFF;
	background-color: #003E79;
	background-image: -moz-linear-gradient(center bottom, rgba(0,62,121,0.8) 0%, rgba(0,80,150, 0.5) 74%, rgba(0,62,121,0.8) 100%);
	background-image: -webkit-linear-gradient(center bottom, rgba(0,62,121,0.8) 0%, rgba(0,80,150, 0.5) 74%, rgba(0,62,121,0.8) 100%);
}

#login a { color: white; }
#login h2 { color: #FFFFFF; }

#login input::-webkit-input-placeholder { color: #0156c3; }
#login input:-moz-placeholder { color: #0156c3; }

/**** Grids **************************************************************************/
div.ui-jqgrid tr.jqgrow.gridRowEven td {	background-color: rgba(0, 62, 121, 0.3); color: rgba(0, 0, 0, 0.95); 
                                        	border-bottom-color: #EDEDED; border-right-color: #000000}
div.ui-jqgrid tr.jqgrow  td { background-color: #9dbbd5; color: rgba(0, 0, 0, 0.95); 
                              border-bottom-color: #EDEDED;border-right-color: #000000}
div.ui-jqgrid tr.jqgroup td,
div.ui-jqgrid tr.jqfoot td,
div.ui-jqgrid tr.footrow td { background-color: #5B7F9F; }

div.ui-jqgrid tr.ui-state-hover td
{
	color: black;
	background: none; /* IE */
	background-color: #EFEFEF !important;
	/*background: none; /* IE * /
	background-color: #FFFF00;
	background-image: -moz-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
	background-image: -webkit-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);*/
}

div.ui-jqgrid tr.ui-state-highlight td,
div.ui-jqgrid tr.ui-state-highlight.gridRowEven td  { background-color: #FFFF80; }

div.ui-jqgrid div.red  { color: red;font-weight: bold;}
tbody tr.red:nth-child(odd) td { background-color: rgba(255, 0, 0, 0.2); }
tbody tr.red:nth-child(even) td { background-color: rgba(255, 0, 0, 0.4); }

div.ui-jqgrid tr.jqgrow.rowOpponent td,
div.ui-jqgrid tr.jqgrow.gridRowEven.rowOpponent td  { font-weight: bold;background-color: #5B7F9F;}
div.ui-jqgrid tr.jqgrow.rowUser td,
div.ui-jqgrid tr.jqgrow.gridRowEven.rowUser td { font-weight: bold; background-color: #5185B7 }

p.hdrRes { color: #FF9999; }
div.ui-jqgrid tr td.Pts { color: #B33333 !important;}
div.ui-jqgrid tr td.Pts1 { color: #4F336B !important;}
div.ui-jqgrid tr td.Bonus { color: #B33333 !important;}
div.ui-jqgrid tr td.Result { }

@media screen and (max-width: 768px) 
{
	#menu-icon {
		color: #222222;
		background-color: #EFEFEF;
		border-color: #666666;
	}
	
	#menu-icon:hover { background-color: #F8F8F8; }
	#menu-icon.active { background-color: #B2B2B2; }
	#mainmenu {	border-color: #999999; }
}