/**** Ajax-Load-Info ****************************************************************/

#loading {
	background-color: #202020;
	background-image: -moz-radial-gradient(center, #505050 0%, #202020 100%);
	background-image: -webkit-radial-gradient(center,  #505050 0%, #202020 100%);
}

#loading h1 { color: #000000; }

/**** Navigation ****************************************************************/

nav ul li div.hdr { 
	color: #FFFFFF;
	background-color: #505050;
	background-image: -webkit-linear-gradient(top, #505050, #202020);
	background-image: -moz-linear-gradient(top, #505050, #202020); 
}

nav ul li ul li a,
nav ul li ul li a:visited{	color: #FFFF99; }

nav ul li ul li a:hover 	
{
	color: #000000;
	background-color:#A0A0A0;
	background-image: -webkit-linear-gradient(top, #A0A0A0, #606060);
	background-image: -moz-linear-gradient(top, #A0A0A0, #606060);   
}

/**** Basis-Container ****************************************************************/

nav {
	color: #000000;
	background-color: #505050;
	background-image: -webkit-linear-gradient(top, #505050, #202020);
	background-image: -moz-linear-gradient(top, #505050, #202020);
}

/*nav#navmain,*/
#mainmenu {
	background-color: #505050;
	background-image: -webkit-linear-gradient(top, #505050, #202020);
	background-image: -moz-linear-gradient(top, #505050, #202020);
}

#pagetitle {
	color: #FFFF99;
	background-color: #505050;
	background-image: -webkit-linear-gradient(top, #505050, #202020);
	background-image: -moz-linear-gradient(top, #505050, #202020);
}

div#username { color: #FFFF99;}

.shadow{
	-moz-box-shadow: 1px 1px 1px #505050;
	-webkit-box-shadow: 1px 1px 1px #505050;
	box-shadow: 1px 1px 1px #505050;
}

/**** Trennlinien ****************************************************************/

.line{ background-color:#A0A0A0; border-bottom:1px solid #202020; }

/**** Sections ****************************************************************/
section.page header h1 { color: #202020; }

article{ background-color:#505050; }

/* Buttons */

.button {
	color: #FFFFFF;
	background-color: #47577F;
	background-image: -webkit-linear-gradient(center top , #A2ABC3, #7A7A7A 50%, #575757 50%, #5D5D5D);
	background-image: -moz-linear-gradient(center top , #A2ABC3, #7A7A7A 50%, #575757 50%, #5D5D5D);
}

.btnGrid {
	color: #FFFFFF;
	background-color: #47577F;
	background-image: -webkit-linear-gradient(center top , #A2ABC3, #7A7A7A 50%, #575757 50%, #5D5D5D);
	background-image: -moz-linear-gradient(center top , #A2ABC3, #7A7A7A 50%, #575757 50%, #5D5D5D);
}

.btnGrid:hover,
.button:hover 
{
	background-color: #27375F;
	background-image: -webkit-linear-gradient(top, #70747f, #484848 50%, #1E1E1E 50%, #282828);
	background-image: -moz-linear-gradient(top, #70747f, #484848 50%, #1E1E1E 50%, #282828);
}

.button[disabled], .button[disabled]:hover 
{
	color: #BBBBBB;
	border: 1px solid #444444;    
	background-color: #777777;
	background-image: -webkit-linear-gradient(top, #999999, #888888 50%, #777777 50%, #666666);
	background-image: -moz-linear-gradient(top, #999999, #888888 50%, #777777 50%, #666666);
}

/**** Tabellen ***********************************************************************/

.rounded { border: 1px solid #202020; }

.rounded td, .rounded th { border-left: 1px solid #202020; border-top: 1px solid #202020; }

.rounded th, td.hdr  {
	background-color: #E2E2E2; 
	background-image: -moz-linear-gradient(center top , #757575, #444444);
	color: #FFFF99;
}

.kttable,
.kttable .rounded,
.kttable th { border: 0 none; } 

.kttable tbody tr:nth-child(odd) { background-color: #555555; }
.kttable tbody tr:nth-child(even) { background-color: #777777; }

.kttable tbody tr:nth-child(odd) td { color: #C0C080;}
.kttable tbody tr:nth-child(even) td { color: #C0C080;}
.kttable tbody tr td.hdr { color: white;} 

/*
	background-image: -moz-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
	background-image: -webkit-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
*/
/* Hervorhebung geänderter Zeilen */
.kttable tbody tr.changed:nth-child(odd) { background-color: rgba(255, 0, 0, 0.2); }
.kttable tbody tr.changed:nth-child(even) { background-color: rgba(255, 0, 0, 0.4); }

/**** Formulare **********************************************************************/

input.highlight, select.highlight, textarea.highlight {
	background-color: #FFFF00;
}

input.gradient.highlight, select.gradient.highlight, textarea.gradient.highlight {
	background-color: #FFFF00;
	background-image: -moz-linear-gradient(center bottom, #E0E000 0%, #D7D700 54%, #ADAD00 100%);
	background-image: -webkit-linear-gradient(left bottom,left top, #E0E000 0%, #D7D700 54%, #ADAD00 100%);
}

/**** Login ****************************************************************/

#login
{
	color: black;
	background-color: #202020;
	background-image: -moz-linear-gradient(center bottom, rgba(176,176,176,0.8) 0%, rgba(192,192,192, 0.5) 74%, rgba(176,176,176,0.8) 100%);
	background-image: -webkit-linear-gradient(center bottom, rgba(176,176,176,0.8) 0%, rgba(192,192,192, 0.5) 74%, rgba(176,176,176,0.8) 100%);
}

#login a { color: black; }
#login h2 { color: black; }

#login input::-webkit-input-placeholder { color: #555555; }
#login input:-moz-placeholder { color: #555555; }

/**** Grids **************************************************************************/
div.ui-jqgrid tr.jqgrow.gridRowEven td { background-color: #777777; color: #C0C080; border-color: #000000; }
div.ui-jqgrid tr.jqgrow  td { background-color: #555555; color: #C0C080; border-color: #000000; }
div.ui-jqgrid tr.jqgroup td,
div.ui-jqgrid tr.jqfoot td,
div.ui-jqgrid tr.footrow td { background-color: #202020; }
/*.ui-widget-content td { border-color: #000000; }*/

div.ui-jqgrid tr.ui-state-hover td
{
	color: black;
	background: none; /* IE */
	background-color: #EFEFEF !important;
	/*background: none; /* IE * /
	background-color: #FFFF00;
	background-image: -moz-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);
	background-image: -webkit-linear-gradient(center top , #FFFFC0, #FFFF00, #808000);*/
}

div.ui-jqgrid tr.ui-state-highlight td,
div.ui-jqgrid tr.ui-state-highlight.gridRowEven td { background-color: #FFFF80; }

div.ui-jqgrid div.red  { color: red;font-weight: bold;}
tbody tr.red:nth-child(odd) td { background-color: rgba(255, 0, 0, 0.2); }
tbody tr.red:nth-child(even) td { background-color: rgba(255, 0, 0, 0.4); }

div.ui-jqgrid tr.jqgrow.rowOpponent td,
div.ui-jqgrid tr.jqgrow.gridRowEven.rowOpponent td  { font-weight: bold;background-color: #994444;}
div.ui-jqgrid tr.jqgrow.rowUser td,
div.ui-jqgrid tr.jqgrow.gridRowEven.rowUser td { font-weight: bold;background-color: #999944; }

p.hdrRes { color: #FF9999; }
div.ui-jqgrid tr td.Pts { color: #FFFF40 !important;}
div.ui-jqgrid tr td.Pts1 { color: #FF9999 !important;}
div.ui-jqgrid tr td.Bonus { color: #FFFF40 !important;}
div.ui-jqgrid tr td.Result { }

@media screen and (max-width: 768px) 
{
	#menu-icon {
		color: #FFFF99;
		background-color: #4E4E4E;
		border-color: #000000;
	}
	
	#menu-icon:hover { background-color: #F8F8F8; }
	#menu-icon.active { background-color: #232323; }
	#mainmenu {	border-color: #000000; }
}