*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; /* *display: inline; *zoom: 1;*/ }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 0.95em; line-height: 1.3; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; /* *margin-left: -7px; */ padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; /* *vertical-align: middle; */}


button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; /* *overflow: visible; */ }

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; /* *width: 13px; *height: 13px; */ }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* ==========================================================================================================================================================
   KT
   ======================================================================================================================================================= */

/**** Ajax-Load-Info ****************************************************************/

#loading {
	display: none;
	padding: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#loading h1 { font-size: 1.1em; }

.blockUI.blockMsg.blockPage  {width: 15%; min-width: 150px; text-align: center; cursor: wait; }

/**** Navigation ****************************************************************/

nav { line-height: 1.1em; padding: 2px 4px; }
nav#navmain { padding: 0; }

nav a { text-decoration: none}

nav ul li{ display:inline; }

nav ul li div.hdr {
	display:block;
	font-size: 1.00em;
	font-weight:bold;
	/*margin: -2px -4px;*/
	padding: 3px 5px;
}

nav ul li ul li a,
nav ul li ul li a:visited{
	display:block;
	font-size: 1em;
	/*font-weight:bold;*/
	margin:5px 2px;
	padding:2px 5px 1px;
	/*text-shadow:0 1px 1px #333333;*/
}

nav ul li ul li a:hover { text-decoration:none; }

/*nav, article, figure {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}*/

nav ul li a, nav ul li {
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/*#navsel, #navbtn { margin-top: 2px;}*/
/*#nav1 { margin-left: 5px;}*/
/*#nav2 { margin-top: 3px;}*/
#nav2 { margin-bottom: 2px;}
#menu-icon { display: none; }

#navtr select { font-size: 0.95em; }

/**** Basis-Container ****************************************************************/

#pagetitle {
	text-align: center;
	font-weight: bold;
	padding: 2px 2px;
	margin: 1px 0 1px 0;
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;*/
	font-size: 1.2em;
}

div#username { float: left;font-weight: bold;line-height: 1em;padding: 6px 10px 5px 10px;}
div#navsel, div#navbtn { float: left;margin-left: 5px;}
#cbstyle { float: right; }
p.hdrRes{ font-weight: bold;}
div.content { margin: 0 5px 5px 0; }

/**** Trennlinien ****************************************************************/

.line{	height:1px;	margin:1em 0; overflow:hidden; }
article .line{ margin:1.3em 0; }
footer .line{ margin:1.5em 0 1em 0; }

/**** Sections ****************************************************************/

section#page { overflow: hidden; }

.page{
	width: auto;
	margin: 0 5px;
	position:relative;
}

/* PageHeader */
section.page header a { float: left; }
section.page header h1 { text-align: center; padding-top: 40px; font-size: 1.75em; }

/* Menü */
/*TODO*/
section#menu 
{
	overflow: hidden; 
	float: left;
	width: 200px;
	/*width: 15%;
	min-width: 200px;*/
	padding:0 1px 1px 0;
}

/* Content, Status */

.page section#content,
.page section#status,
.page section#nav
{
	float: left; 
	/*width: 83%; */
	/* Firefox*/
	width: -moz-calc(100% - 202px);
	/* WebKit */
	width: -webkit-calc(100% - 202px);
	/* Opera */
	width: -o-calc(100% - 202px);
	/* Standard */
	width: calc(100% - 202px);
	margin-left: 1px;
}

/* section#nav { width: 100% }*/

section#status { display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
section#nav { display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

section#status header p{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 5px 5px 5px 25px;
}

section#status header p#errortext {
	border:solid 2px red;  
	display: none; 
	color: red;
	background: url(images/error.png) no-repeat 5px 5px;
	margin-top: 5px;
}
section#status header p#statustext {
	border:solid 2px green; 
	display: none; 
	color: #333333;
	background: url(images/ok.png) no-repeat 5px 5px;
	margin-top: 5px;
}

/* Article */

article{
	/*margin:5px 0 10px 0;*/
	margin:0 0 2px 0;
	padding:5px;
	overflow: auto; /* TODO? */
}

/* Buttons */

.button {
	font-weight: bold;
	/*text-shadow: 0px 1px 1px #333333; */
	margin-top: 5px;
	border: 1px solid #555555;    
	-moz-box-shadow:1px 1px 1px #777777;
	-webkit-box-shadow:1px 1px 1px #777777;
	box-shadow:1px 1px 1px #777777;	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	cursor: pointer;   
	padding: 3px 6px;
}

#navbtn .button { margin: 0; }

.btnGrid {
	font-weight: bold;
	/*text-shadow: 0px 1px 1px #333333;    */
	border: 1px solid #111111;    
	-moz-box-shadow:1px 1px 2px #999999;
	-webkit-box-shadow:1px 2px 1px #999999;
	box-shadow:1px 1px 2px #999999;	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor: pointer;   
	padding: 0px 2px;
	font-size: 0.9em !important;
	margin: 1px !important;
}
	
.btnGrid img { height: 12px; }
.ui-jqgrid .btnGrid span { display: block; margin: 1px; float:left;}
.ui-jqgrid-toolbar .btnGrid  { padding: 1px 4px; }

.btnGridImg {
	color: #FFFFFF;
	font-weight: bold;
	/*text-shadow: 0px 1px 1px #333333;*/
	background: transparent;
	border: 0 none;    
	cursor: pointer;
	padding: 0;
	font-size: 0.9em !important;
	margin: 2px 4px 1px 2px !important;
}
.btnGridImg img { height: 16px; }

.button[disabled], .button[disabled]:hover { cursor: not-allowed; }

/**** Tabellen ***********************************************************************/

table { border-spacing: 0; /*width: 100%;*/ margin-bottom: 1em; }

caption { font-weight: bold;font-size: 1.1em;}

.rounded {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;    
}

.rounded td, .rounded th { padding: 4px; text-align: left; }

.rounded th, td.hdr  {
	border-top: medium none;
	color: white;
	font-size: 1.2em;
	/*text-shadow: 2px 2px 0 #000000;*/
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
}
.rounded td:first-child, .rounded th:first-child { border-left: medium none; }
.rounded th:first-child { border-radius: 10px 0 0 0; }
.rounded th:last-child { border-radius: 0 10px 0 0; }
.rounded th:only-child { border-radius: 10px 10px 0 0; }
.rounded tr:last-child td:first-child { border-radius: 0 0 0 10px; }
.rounded tr:last-child td:last-child { border-radius: 0 0 10px 0; }

td { padding: 2px; } 
td.label { font-weight: bold; } 

.kttable,
.kttable .rounded { border: 0 none; } 
.kttable th { font-weight: normal;  }


/**** Formulare **********************************************************************/

input, textarea { border:solid 1px #111111; }

input.text, input.date, textarea {
	font-size: 1em;
	padding: 3px 5px;
	color:#333333;
	/*text-shadow:0px 1px 0px #FFFFFF;*/
}

input.text.fill, textarea.fill {width: 95%;}

select{
	font-size: 1em;
	padding: 2px 4px;
	color:#333333;
	/*text-shadow:0px 1px 0px #FFFFFF;*/
}

input.rounded, select.rounded, textarea.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;   
}

input.gradient, select.gradient, textarea.gradient {
	background-color: #DDDDDD;
	background-image: -moz-linear-gradient(center bottom, #E0E0E0 0%, #D7D7D7 54%, #CDCDCD 100%);
	background-image: -webkit-linear-gradient(left bottom,left top, #E0E0E0 0%, #D7D7D7 54%, #CDCDCD 100%);
}

input.shadow, select.shadow, textarea.shadow {
	-moz-box-shadow: 1px 1px 1px #333333;
	-webkit-box-shadow: 1px 1px 1px #333333;
	box-shadow: 1px 1px 1px #333333;   
}

input.error, select.error, textarea.error  { border:solid 2px red; }

div.inputError { color: red;margin-top: 5px;font-style: italic; }

label { margin: 0 12px 0 4px; }

/**** Login ****************************************************************/

#login { display: none;	width: 300px; }

#login h2
{
	text-shadow: 2px 2px 1px #000000;
	text-align: center;
	padding: 1.2em;
	margin: 0px;
	font-weight: normal;
	font-size: 1.75em;
	border-bottom: solid #181818 1px;
	-moz-box-shadow: 0px 1px 0px #3a3a3a;
	-webkit-box-shadow: 0px 1px 0px #3a3a3a;
	box-shadow: 0px 1px 0px #3a3a3a;
}

#login fieldset { padding: 20px;border: 0 none; }

#login input.text {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:solid 1px #111111;
	font-size: 1em;
	width: 90%;
	padding: 7px 8px 7px 8px;
	margin-bottom: 5px;
	background-color: #DDDDDD;
	background-image: -moz-linear-gradient(center bottom, #E0E0E0 0%, #D7D7D7 54%, #ADADAD 100%);
	background-image: -webkit-linear-gradient(left bottom,left top, #E0E0E0 0%, #D7D7D7 54%, #ADADAD 100%);
	color:#333333;
	/*text-shadow:0px 1px 0px #FFFFFF;*/
	-moz-box-shadow: 1px 3px 3px #333333;
	-webkit-box-shadow: 1px 3px 3px #333333;
	box-shadow: 1px 3px 3px #333333;
}

#bLogin { width: 120px; height: 30px; }
#login_loading { display: none; }
#login_response { display: none; color: red;text-align: center;margin-top: 10px; }

/**** Grids **************************************************************************/

div.ui-jqgrid.ui-widget-content,
tr.ui-widget-content { background: none; }

div.ui-jqgrid tr.ui-state-hover td { background: none; /* IE *//*	font-weight: bold;*/ }

.ui-jqgrid tr.jqgrow.bldit td,
tbody tr.bldit td { font-style: italic; font-weight: bold; }
div.ui-jqgrid tr.ui-state-hover { background: 0 none; }
.ui-jqgrid-sdiv tr:last-child td:last-child { border-radius: 0 0 10px 0; }

div.ui-jqgrid tr td.Pts { font-weight: bold;}
div.ui-jqgrid tr td.Pts1 { font-weight: bold;}
div.ui-jqgrid tr td.Bonus { font-weight: bold;}
div.ui-jqgrid tr td.Result { font-weight: bold;}

.ui-jqgrid span.deadline { font-weight: bold;color: red;float: none;display: inline;}

.ui-jqgrid .ui-jqgrid-pager.ui-jqgrid-toolbar { height: 28px;}
.ui-jqgrid .ui-jqgrid-toolbar td { margin-right: 5px; }
.ui-jqgrid .ui-jqgrid-toolbar .ui-pg-selbox { height: 24px;padding: 2px; }
.ui-jqgrid .ui-jqgrid-toolbar .ui-pg-input  {height: 18px;font-size: 0.9em;padding: 1px 2px; }

.content .ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea 
{
	margin: 1px 1px;
	padding: 1px;
	width: 90%;
	border-radius: 4px;
	font-size: 0.9em;
}

.ui-jqgrid th { font-size: 0.9em; }
.ui-jqgrid td { font-size: 0.95em; }

/**** Dialog *************************************************************************/
div.modal { display: none; }

.notitle .ui-dialog-titlebar { display: none; }
.notitle.ui-dialog { padding: 0; }
.notitle.ui-dialog .ui-dialog-content { padding: 0; }

/**** zusätzlicher Content *************************************************************************/

.ui-state-default .ui-icon.icon-print { background-image: url(images/print.png); }
.ui-state-default .ui-icon.icon-disk { background-image: url(images/save.png); }
.ui-state-default .ui-icon.icon-start { background-image: url(images/action_go.png); }

.logo {
    background-image: url("images/logos.png");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    overflow: hidden;
    position: relative;
    float: left;
    
}

.ui-jqgrid .logo { margin: 2px 0 0 1px; }

.l1 { background-position: -36px -468px; }
.l2 { background-position: -36px -936px; }
.l3 { background-position: 0px -378px; }
.l4 { background-position: -18px -1134px; }
.l5 { background-position: -36px -828px; }
.l6 { background-position: 0px -432px; }
.l7 { background-position: -18px -972px; }
.l8 { background-position: -18px -1116px; }
.l9 { background-position: 0px -630px; }
.l10 { background-position: -18px -1458px; }
.l11 { background-position: -36px -306px; }
.l12 { background-position: -36px -360px; }
.l13, .l21 { background-position: -36px -594px; }
.l14 { background-position: -36px -990px; }
.l15 { background-position: -36px -1008px; }
.l16 { background-position: -36px -1026px; }
.l17 { background-position: -36px -1062px; }  
.l18 { background-position: 0px -234px; }  
.l19 { background-position: 0px -684px; }  
.l20 { background-position: 0px -1962px; }
.l22 { background-position: -18px -738px; }
.l23 { background-position: -18px -1008px; }
.l24 { background-position: -18px -1044px; }
.l25 { background-position: -18px -1080px; }
.l26 { background-position: -18px -1224px; }
.l27 { background-position: -18px -1350px; }
.l28 { background-position: -36px -612px; }
.l29 { background-position: -36px -414px; }
.l30 { background-position: -18px -360px; }
.l31 { background-position: -36px -756px; }
.l33 { background-position: 0px -1998px; }

/* MA 02.10.2014 */
#SpielplanAusgabe h3 { border-bottom: 1px solid black; }
#SpielplanAusgabe .tr_sep { display: none; }

/* ==========================================================================================================================================================
   KT
   ======================================================================================================================================================= */

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; /* *line-height: 0; */ }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { /* *zoom: 1; */ }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  /* @page { margin: 0.5cm; } */
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* Media Queries */

@media screen and (max-width: 768px) 
{
	body { font-size: 0.9em; }
	.page {margin: 0;}
	.page section#menu,
	.page section#content,
	.page section#nav,
	.page section#status { float: none; width: auto; padding: 0;margin: 0 0 2px 0; }
	article  { width: auto; padding: 0;margin: 4px 0 2px 0; }

	section.page header { display: none; }
	section.page section#status header { display: inherit; } 
	
	.blockUI.blockMsg.blockPage  { width: 150px; }

	div#username { padding: 5px; }	
	
	/* Navigation */
	#navmain 	
	{
		position: relative;
		background: none;
		background-color: #FFFFFF !important;
		background-image: none !important;
		width: 200px;
	}
	section#menu { width: 200px; overflow: visible; }

	/* menu icon */
	#menu-icon {
		width: 42px;
		height: 26px;
		background: url(images/menu-icon.png) no-repeat 6px center;
		padding: 4px 4px 0 32px;
		/*padding: 8px 10px 0 42px;*/
		cursor: pointer;
		border: solid 1px;
		display: block; /* show menu icon */
	}
				
	#mainmenu {
		clear: both;
		position: absolute;
		top: 31px;
		width: 335px;
		z-index: 10000;
		padding: 5px;
		border: solid 1px;
		display: none; /* visibility will be toggled with jquery */
	}
	
	nav ul li,
	nav ul li ul li { float: left; width: 165px; overflow:hidden}
	nav ul li.full {  width: 330px;}
	nav ul li.left  { margin-right: 5px;clear: both;}
}

@media screen and (max-width: 480px) 
{
	div#navsel select, #navtr select { padding: 2px;font-size: 0.9em;margin-bottom: 3px; }
	div#navbtn button { margin-bottom: 3px;}	
}

@media screen and (max-width: 320px),
	screen and (max-height: 320px) 
{
	body { font-size: 0.85em; }
	#mainmenu { width: 260px; top: 24px;}
	#menu-icon { height: 19px; }
	
	nav ul li div.hdr { font-size: 0.9em;}	
	nav ul li ul li a { margin: 2px;font-size: 0.9em;}	
	#navtr { font-size: 0.9em;}	

	nav ul li.full,
	nav ul li.full ul li { width: 260px;}			
	nav ul li.right,
	nav ul li.right ul li { width: 135px;}
	nav ul li.left,
	nav ul li.left ul li { width: 120px;}
	
	.ui-jqgrid tr.jqgrow td { height: 20px !important; }
}

@media screen and (min-width: 769px) {
	/* ensure #nav is visible on desktop version */
	#mainmenu { display: block !important; }
}